/*
 * Gamercard Style
 *
 * Shamelessly copied and modified from the awesome David Walsh Blog - http://davidwalsh.name/xbox-api
 */

.gamercard {
    border: 1px solid #bdbec1;
    padding: 10px;
    width: 600px;
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #bdbec1;
    
    background-image: -webkit-linear-gradient(#ddd, #fff, #e9fdce);
    background-image: -moz-linear-gradient(top, #ddd, #fff, #e9fdce);
    background-image: -ms-linear-gradient(#ddd, #fff, #e9fdce);
    background-image: -o-linear-gradient(#ddd, #fff, #e9fdce);
    background-image: linear-gradient(#ddd, #fff, #e9fdce);
}
  
.gamercard img {
    display: block;
}
  
.gamercard .avatar {
    float: right;
    width: 150px;
    height: 300px;
    margin: -60px 0 0 50px;
}
  
.gamercard h1 {
    font-weight: normal;
    color: #78BB58;
}
    
.gamercard h1 img {
      display: inline-block; 
      padding-right: 10px;
      width: 24px; 
      height: 24px;
}
      
.gamercard h2 {
    color: #111;
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
}
  
.gamercard ul {
    list-style-type: none;
}
    .gamercard ul li {
      padding-top: 8px;
    }
      
      .gamercard ul li strong {
        color: #666;
      }
      
.gamercard ul.games li {
    display: inline-block; 
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    width: 85px;
    vertical-align: top;
}
    .gamercard ul.games li img {
      margin: 0 auto;
      width: 85px;
    }
  
.gamercard a {
    color: #78bb58;
}
  
.gamercard .clear {
    clear: both;
}